
<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="title-content">
                    <h2>Thanh Toán</h2>
                    <ul>
                        <li>
                            <a [routerLink]="['/home']">Trang Chủ</a>
                        </li>
                        <li>
                            <span>Thanh Toán</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
   
</div>

<div class="checkout-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Thông tin cá nhân của bạn</h2>
        </div>
        <form [formGroup]="form" (ngSubmit)="submit()" #localForm="ngForm">
            <div class="row">
                <div class="col-lg-8">
                    <div class="checkout-billing">
                        <div class="form-group"  >
                            <input type="text" class="form-control" formControlName="name_customer" placeholder="Tên:">
                        </div>
                        <small class="label label-danger"
                            *ngIf="!form.controls['name_customer']?.valid && (form.controls['name_customer']?.dirty
                            ||form.controls['name_customer']?.touched) && form.controls['name_customer']?.errors?.['required']"
                            class="help-block text-danger">Trường bắt buộc!</small>
                        <div class="form-group">
                            <input type="text" class="form-control" formControlName="phone" placeholder="Số Điện Thoại:">
                        </div>
                        <small class="label label-danger"
                            *ngIf="!form.controls['phone']?.valid && (form.controls['phone']?.dirty
                            ||form.controls['phone']?.touched) && form.controls['phone']?.errors?.['required']"
                            class="help-block text-danger">Trường bắt buộc!</small>
                        <div class="form-group">
                            <input type="text" class="form-control" formControlName="address" placeholder="Số Nhà ,Tên Đường:">
                        </div>
                        <small class="label label-danger"
                            *ngIf="!form.controls['address']?.valid && (form.controls['address']?.dirty
                            ||form.controls['address']?.touched) && form.controls['address']?.errors?.['required']"
                            class="help-block text-danger">Trường bắt buộc!</small>
                        <div class="form-group">
                            <textarea id="your-notes" rows="4" class="form-control"  formControlName="note" placeholder="Ghi chú khác (Tùy chọn)"></textarea>
                        </div><br>
                        <h4>Địa chỉ giao hàng</h4><br>
                        <div class="row">
                            <div class="col-4">
                                <div class="single-form form-default">
                                    <label>Tỉnh, Thành Phố</label>
                                    <div class="select-items">
                                        <select name="province" class="form-control"
                                            formControlName="province_id"
                                            (change)="onSelectProvince($event)">
                                            <option disabled selected value> -- Tỉnh, Thành Phố --
                                            </option>
                                                <ng-container *ngFor="let province of listProvince">
                                                    <option value="{{ province.id }}">{{ province.name }}
                                                    </option>
                                                </ng-container>
                                        </select>
                                        <small class="label label-danger"
                                            *ngIf="!form.controls['province_id']?.valid && (form.controls['province_id']?.dirty
                                            ||form.controls['province_id']?.touched) && form.controls['province_id']?.errors?.['required']"
                                            class="help-block text-danger">Trường bắt buộc!</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="single-form form-default">
                                    <label>Quận, Huyện</label>
                                    <div class="select-items">
                                        <select class="form-control" formControlName="district_id"
                                            (change)="onSelectDistrict($event)">
                                            <option disabled selected value> -- Quận, Huyện --
                                            </option>
                                            <ng-container *ngIf="provinceSelected">
                                                <ng-container *ngFor="let district of listDistrict">
                                                    <option value="{{ district.id }}">{{ district.name }}
                                                    </option>
                                                </ng-container>
                                            </ng-container>
                                        </select>
                                        <small class="label label-danger"
                                            *ngIf="!form.controls['district_id']?.valid && (form.controls['district_id']?.dirty
                                            ||form.controls['district_id']?.touched) && form.controls['district_id']?.errors?.['required']"
                                            class="help-block text-danger">Trường bắt buộc!</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="single-form form-default">
                                    <label>Phường, Xã</label>
                                    <div class="select-items">
                                        <select class="form-control" formControlName="ward_id">
                                            <option disabled selected value> -- Phường, Xã --
                                            </option>
                                            <ng-container *ngIf="districtSelected">
                                                <ng-container *ngFor="let ward of listWard">
                                                    <option value="{{ ward.id }}">{{ ward.name }}</option>
                                                </ng-container>
                                            </ng-container>
                                        </select>
                                        <small class="label label-danger"
                                            *ngIf="!form.controls['ward_id']?.valid && (form.controls['ward_id']?.dirty
                                            ||form.controls['ward_id']?.touched) && form.controls['ward_id']?.errors?.['required']"
                                            class="help-block text-danger">Trường bắt buộc!</small>
                                    </div>
                                </div>
                            </div>
                        </div><br><br>
                        <div class="text-center">
                            <button type="submit" class="btn common-btn">
                                Đặt hàng
<img src="assets/images/shape1.png" alt="Shape">
<img src="assets/images/shape2.png" alt="Shape">
</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="checkout-order">
                        <h3>Đơn hàng của bạn:</h3>
                        <!-- <ul class="align-items-center"> -->
                        <div class="sub-total-price">
                            <ng-container *ngFor="let cart of listCart">
                                <div class="total-price">
                                    <p class="value">{{ cart.name }} ({{ cart.amount }} x {{ cart.price|currency}})</p>
                                    <p class="price">{{ cart.amount*cart.price|currency }}</p>
                                </div>
                            </ng-container>
                        </div>
                        <div class="inner">
                            <h4>Tổng tiền: <p class="price">{{ cartSubtotal|currency }}</p></h4>
                        </div>
                    </div>
                    <div class="checkout-method">
                        <h3>Phương thức thanh toán:</h3>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                                Thanh toán khi giao hàng
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>