<footer class="footer-area two pt-100 pb-70">
  <div class="footer-shape">
    <img src="assets/images/shape8.png" alt="Shape" />
    <img src="assets/images/shape9.png" alt="Shape" />
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-6 col-lg-4">
        <div class="footer-item">
          <div class="footer-logo">
            <a class="logo" href="index.html">
              <img src="assets/images/logo-two.png" alt="Logo" />
            </a>
           
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="copyright-area two">
  <div class="container">
    <div class="copyright-item">
      <p>
        Bản quyền © 2020 Thiết kế & Phát triển bởi HiBootstrap
      </p>
    </div>
  </div>
</div>
<div class="go-top">
  <i class="bx bxs-up-arrow-circle"></i>
  <i class="bx bxs-up-arrow-circle"></i>
</div>
