<div class="loader">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="pre-load">
        <div class="inner one"></div>
        <div class="inner two"></div>
        <div class="inner three"></div>
      </div>
    </div>
  </div>
</div>

<div class="header-area two">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-sm-6 col-lg-7">
        <div class="left">
          <ul>
            <li>
              <i class="flaticon-delivery-truck"></i>
              <span>Free Next Day Delivery*</span>
            </li>
            <li>
              <i class="flaticon-quality"></i>
              <span>Best Price Guarantee</span>
            </li>
            <li>
              <i class="flaticon-call-center"></i>
              <span>24/7 Customer Support</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-lg-5">
        <div class="right">
          <div class="inner">
            <select>
              <option>$ USD</option>
              <option>EUR</option>
              <option>GBP</option>
              <option>CAD</option>
            </select>
          </div>
          <div class="inner">
            <form>
              <select>
                <option>English</option>
                <option>العربيّة</option>
                <option>Deutsch</option>
                <option>Português</option>
                <option>简体中文</option>
              </select>
            </form>
          </div>
          <div class="inner">
            <div class="call">
              <i class="flaticon-phone-call"></i>
              <a href="tel:9905324980">990-532-4980</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="nav-top-area two">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-lg-2">
        <div class="left">
          <a href="index.html">
            <img src="assets/images/logo-two.png" alt="Logo" />
          </a>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="middle">
          <form>
            <div class="form-group">
              <div class="inner">
                <select>
                  <option>All Categories</option>
                  <option>Vegetable</option>
                  <option>Fruits</option>
                  <option>Chicken</option>
                  <option>Chair</option>
                  <option>Table</option>
                  <option>Bed</option>
                  <option>Sofa</option>
                  <option>Headphones</option>
                  <option>Keyboard</option>
                  <option>MacBook</option>
                </select>
              </div>
              <input
                type="text"
                class="form-control"
                placeholder="Search Your Keywords"
              />
              <button type="submit" class="btn">
                <i class="bi bi-search"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="right">
          <ul>
            <li>
              <div class="inner">
                <i class="flaticon-pin"></i>
                <a href="#">Set Location</a>
              </div>
            </li>
            <li>
              <div class="inner">
                <i class="flaticon-question"></i>
                <a href="#">Need Help?</a>
              </div>
            </li>
            <li>
              <button
                type="button"
                class="btn wishlist cart-popup-btn"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
                data-bs-whatever="@mdo"
              >
                <i class="bx bxs-cart"></i>
                <span>2</span>
              </button>
            </li>
            <li>
              <button
                type="button"
                class="btn wishlist"
                data-bs-toggle="modal"
                data-bs-target="#exampleModalWishlist"
                data-bs-whatever="@mdo"
              >
                <i class="bx bx-heart"></i>
                <span>2</span>
              </button>
            </li>
            <li>
              <a class="join" href="login.html">
                <i class="flaticon-round-account-button-with-user-inside"></i>
                Join
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="navbar-area sticky-top">
  <div class="mobile-nav">
    <a href="index.html" class="logo">
      <img src="assets/images/logo-two.png" alt="Logo" />
    </a>
  </div>

  <div class="main-nav two">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-md navbar-light">
        <div class="left">
          <select>
            <option>All Categories</option>
            <option>Chair</option>
            <option>Table</option>
            <option>Bed</option>
            <option>Sofa</option>
            <option>Headphones</option>
            <option>Keyboard</option>
            <option>MacBook</option>
            <option>Vegetable</option>
            <option>Fruits</option>
            <option>Chicken</option>
          </select>
        </div>
        <div
          class="collapse navbar-collapse mean-menu"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="#" class="nav-link dropdown-toggle active"
                >Home <i class="bi bi-arrow-down"></i
              ></a>
              <ul class="dropdown-menu">
                <li class="nav-item">
                  <a href="index.html" class="nav-link">Home Demo One</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link dropdown-toggle"
                >Pages <i class="bi bi-arrow-down"></i
              ></a>
              <ul class="dropdown-menu">
                <li class="nav-item">
                  <a href="#" class="nav-link dropdown-toggle"
                    >Users <i class="bi bi-arrow-down"></i
                  ></a>
                  <ul class="dropdown-menu">
                    <li class="nav-item">
                      <a href="login.html" class="nav-link">Login</a>
                    </li>
                    <li class="nav-item">
                      <a href="register.html" class="nav-link">Register</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a href="faq.html" class="nav-link">FAQ</a>
                </li>
                <li class="nav-item">
                  <a href="404.html" class="nav-link">404 Error Page</a>
                </li>
                <li class="nav-item">
                  <a href="return-policy.html" class="nav-link"
                    >Return Policy</a
                  >
                </li>
                <li class="nav-item">
                  <a href="privacy-policy.html" class="nav-link"
                    >Privacy Policy</a
                  >
                </li>
                <li class="nav-item">
                  <a href="terms-conditions.html" class="nav-link"
                    >Terms & Conditions</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="about.html" class="nav-link">About Us</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link dropdown-toggle"
                >Blog <i class="bi bi-arrow-down"></i
              ></a>
              <ul class="dropdown-menu">
                <li class="nav-item">
                  <a href="blog.html" class="nav-link">Blog</a>
                </li>
                <li class="nav-item">
                  <a href="blog-right-sidebar.html" class="nav-link"
                    >Blog Right Sidebar</a
                  >
                </li>
                <li class="nav-item">
                  <a href="blog-left-sidebar.html" class="nav-link"
                    >Blog Left Sidebar</a
                  >
                </li>
                <li class="nav-item">
                  <a href="blog-details.html" class="nav-link">Blog Details</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link dropdown-toggle"
                >Shop <i class="bi bi-arrow-down"></i
              ></a>
              <ul class="dropdown-menu">
                <li class="nav-item">
                  <a href="shop.html" class="nav-link">Shop</a>
                </li>
                <li class="nav-item">
                  <a href="checkout.html" class="nav-link">Checkout</a>
                </li>
                <li class="nav-item">
                  <a href="single-product.html" class="nav-link"
                    >Single Product</a
                  >
                </li>
                <li class="nav-item">
                  <a href="products-on-sale.html" class="nav-link"
                    >Products On Sale</a
                  >
                </li>
                <li class="nav-item">
                  <a href="order-tracking.html" class="nav-link"
                    >Order Tracking</a
                  >
                </li>
                <li class="nav-item">
                  <a href="customer-service.html" class="nav-link"
                    >Customer Service</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="contact.html" class="nav-link">Contact</a>
            </li>
          </ul>
          <div class="side-nav two">
            <h4>
              Get <span>50%</span> Discount On Black Friday Offer
              <a href="products-on-sale.html">View Products On Sale</a>
            </h4>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
