<div
  class="prd-sale cate-box bg-white p-t-15 mb24"
  style="background-color: aquamarine"
>
  <div class="sale-area">
    <div class="slider-head">
      <div class="hero-slider">
        <div class="container-fluid">
          <div
            class="single-slider"
            style="background-image: url({{url+banners}}); height: 300px; max-width: 100%;"
          >
            <div class="content">
              <div class="button">
                <a
                  href="http://localhost:4200/product-detail/2"
                  class="btn"
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><br>
<section class="main-container">
  <ul class="option-promo">
  <div class="row">
    <div class="col-3" >
      <li>
        <a href="">
            <img src="https://cdn.tgdd.vn//content/icon--96x104-2.png" style="    display: inline-block;
            vertical-align: middle;
            height: 70px;">
            <span>
                Săn Sale Online
            </span>
        </a>
      </li>
    </div>
    <div class="col-3">
      <li>
        <a href="">
            <img src="https://cdn.tgdd.vn//content/Frame-4660790-120x120.png"  style="    display: inline-block;
            vertical-align: middle;
            height: 70px;">
            <span>
                Xem World Cup cùng vivo
            </span>
        </a>
      </li>
    </div>
    <div class="col-3"><li>
      <a href="">
          <img src="https://cdn.tgdd.vn//content/Group-8-120x120.png"  style="    display: inline-block;
          vertical-align: middle;
          height: 70px;">
          <span>
              Siêu sale Audio
          </span>
      </a>
    </li></div>
    <div class="col-3">
      <li>
        <a href="">
            <img src="https://cdn.tgdd.vn//content/icon-100x100no-100x100-1.gif"  style="    display: inline-block;
            vertical-align: middle;
            height: 70px;">
            <span>
                Máy cũ Giảm đến 50%
            </span>
        </a>
      </li>
    </div>
  </div>

 




</ul>
</section>

<div class="container" >
  <!-- sản phẩm -->
  <div class="testimonials-area two pb-100">
    <div class="row">
      <div class="row">
        <div class="col-12">
          <div>
            <h1 class="title" style="text-align:center ;">Top Sản Phẩm Bán Chạy</h1>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3" *ngFor="let product of top">
          <div class="products-item">
            <div class="top">
              <a class="wishlist" href="#">
                <i class="bx bx-heart"></i>
              </a>
              <img
              routerLink='/product-detail/{{product.id}}'
                [src]="url + product.image"
                alt="#"
                style="width: 170px; height: 200px"
              />
              <div class="inner">
                <h3>
                  <a routerLink='/product-detail/{{product.id}}'>{{ product.name }}</a>
                </h3>
                <span
                  class="progress"
                  style="
                    width: 130px;
                    height: 28px;
                    border-radius: 15px;
                    background-color: #ef8573;
                    text-align: center;
                    font-size: 18px;
                    line-height: 28px;
                    font-weight: 500;
                    overflow: hidden;
                    position: relative;
                    z-index: 1;
                    color: #fff;
                  "
                  >{{ product.price | number }}. VNĐ
                </span>
              </div>
            </div>
            <br />
            <div class="bottom" style="text-align: center">
              <button (click)="addToCart(product.id)" class="btn">
                Add to Cart <i class="bi bi-cart-plus"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <a class="common-btn two" [routerLink]="['/product-list']">
        Xem thêm sản phẩm
        <img src="assets/images/shape1.png" alt="Shape" />
      </a>
    </div>
  </div>
  <section class="main-container">
    <ul class="option-promo">
    <div class="row">
      <div class="col-3" >
        <li>
          <a href="">
              <img src="https://cdn.tgdd.vn//content/icon--96x104-2.png" style="    display: inline-block;
              vertical-align: middle;
              height: 70px;">
              <span>
                  Săn Sale Online
              </span>
          </a>
        </li>
      </div>
      <div class="col-3">
        <li>
          <a href="">
              <img src="https://cdn.tgdd.vn//content/Frame-4660790-120x120.png"  style="    display: inline-block;
              vertical-align: middle;
              height: 70px;">
              <span>
                  Xem World Cup cùng vivo
              </span>
          </a>
        </li>
      </div>
      <div class="col-3"><li>
        <a href="">
            <img src="https://cdn.tgdd.vn//content/Group-8-120x120.png"  style="    display: inline-block;
            vertical-align: middle;
            height: 70px;">
            <span>
                Siêu sale Audio
            </span>
        </a>
      </li></div>
      <div class="col-3">
        <li>
          <a href="">
              <img src="https://cdn.tgdd.vn//content/icon-100x100no-100x100-1.gif"  style="    display: inline-block;
              vertical-align: middle;
              height: 70px;">
              <span>
                  Máy cũ Giảm đến 50%
              </span>
          </a>
        </li>
      </div>
    </div>

  </ul>
  </section>

  <div class="brands">
    <div class="container">
      <div class="row">
        <div  class="section-title" >
          <h1 style="text-align:center">Thương Hiệu</h1>

        </div>
      </div>
      <br />
      <div class="brands-logo-wrapper">
        <div
          class="brands-logo-carousel d-flex align-items-center justify-content-between"
        >
          <div (click)="filterBrand(brand.id)" class="brand-logo" *ngFor="let brand of brands">
            <img
              [src]="url + brand.image"
              alt="#"
              style="width: 130px; height: 110px"
            />
          </div>
        </div>
      </div>
    </div>
  </div>


  <div
  class="prd-sale cate-box bg-white p-t-15 mb24"
  style="background-color: aquamarine"
>

<br /><br />

  <div class="testimonials-area two pb-100">
    <div class="container">
      <div class="section-title" >
        <h1 style="text-align:center">Sản phẩm</h1>
      </div>
      <div class="row">
        <div class="col-sm-6 col-lg-3" *ngFor="let product of products | paginate:{
          itemsPerPage:tableSize,
          currentPage:page,
          totalItems :count
        };let i = index">
          <div class="products-item" *ngIf="product.status == 1">
            <div class="top">
              <a class="wishlist" href="#">
                <i class="bx bx-heart"></i>
              </a>
              <img
                [src]="url + product.image" [alt]="product.name"
                alt="#"
                style="width: 170px; height: 200px"
                routerLink='/product-detail/{{product.id}}'
              />
              <div class="inner">
                <h3>
                  <a routerLink='/product-detail/{{product.id}}'>{{ product.name }}</a>
                </h3>
                <span
                  class="progress"
                  style="
                    width: 130px;
                    height: 28px;
                    border-radius: 15px;
                    background-color: #ef8573;
                    text-align: center;
                    font-size: 18px;
                    line-height: 28px;
                    font-weight: 500;
                    overflow: hidden;
                    position: relative;
                    z-index: 1;
                    color: #fff;
                  "
                  >{{ product.price | number }}. VNĐ
                </span>
              </div>
            </div>
            <br />
            <div class="bottom" style="text-align: center">
              <button (click)="addToCart(product.id)" class="btn">
                Add to Cart <i class="bi bi-cart-plus"></i>
              </button>
            </div>
          </div>
          <!-- <h4 class="title">
            <a routerLink='/product-detail/{{product.id}}'>{{ product.name }}</a>
          </h4> -->
        </div>
        <pagination-controls
                previousLabel="Trang sau"
                nextLabel="Trang tiếp"
                (pageChange)="ontableDataChange($event)"
                >
            </pagination-controls>  
      </div>
      <div class="item">
        <a rel="nofollow" href="https://dienthoaihay.vn/khuyen-mai/mua-hang-tu-xa-tai-dienthoaihayvn-an-tam-tuyet-doi-voi-goi-bao-hiem-den-bu-100-gia-tri-san-pham-n129.html" title='Dưới slideshow'  id="banner_item_96" class="banner_item">
                                <img class="img-old img-responsive" alt="Dưới slideshow" src="https://dienthoaihay.vn/images/banners/original/den-bu-100-dai_1663384522.gif" >
                          </a>
    
    
                  </div>
    </div>
  </div>

  <div class="support-area pt-100 pb-70">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-6 col-lg-4">
          <div class="support-item two">
            <i class="flaticon-free-delivery"></i>
            <h3>Free Next Day Delivery</h3>
            <p>Lorem ipsum dolor sit amet, cons etetur sadipscing elitr</p>
            <img src="assets/images/support-shape1.png" alt="Shape" />
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="support-item three">
            <i class="flaticon-call-center"></i>
            <h3>24/7 Online Support</h3>
            <p>Lorem ipsum dolor sit amet, cons etetur sadipscing elitr</p>
            <img src="assets/images/support-shape1.png" alt="Shape" />
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="support-item four">
            <i class="flaticon-giftbox"></i>
            <h3>Weekly Gift Voucher</h3>
            <p>Lorem ipsum dolor sit amet, cons etetur sadipscing elitr</p>
            <img src="assets/images/support-shape1.png" alt="Shape" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="blog-area two pt-100 pb-70">
    <div class="container">
      <div class="section-title">
        <h2>Read Latest Our News</h2>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-6 col-lg-4">
          <div class="blog-item">
            <div class="top">
              <a href="blog-details.html">
                <img src="assets/images/blog/blog4.jpg" alt="Blog" />
              </a>
              <span>26 Nov</span>
            </div>
            <div class="bottom">
              <h3>
                <a href="blog-details.html"
                  >How To Choose The Best Smartphone For Your Daily Task?</a
                >
              </h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia
                recusandae praesentium dolor atque debitis aspernatur quaerat
              </p>
              <a class="blog-btn" href="blog-details.html">
                Read More
                <i class="bx bx-plus"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="blog-item">
            <div class="top">
              <a href="blog-details.html">
                <img src="assets/images/blog/blog5.jpg" alt="Blog" />
              </a>
              <span>27 Nov</span>
            </div>
            <div class="bottom">
              <h3>
                <a href="blog-details.html"
                  >How Does This VR Box Help In Children's Online Education?</a
                >
              </h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia
                recusandae praesentium dolor atque debitis aspernatur quaerat
              </p>
              <a class="blog-btn" href="blog-details.html">
                Read More
                <i class="bx bx-plus"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="blog-item">
            <div class="top">
              <a href="blog-details.html">
                <img src="assets/images/blog/blog6.jpg" alt="Blog" />
              </a>
              <span>28 Nov</span>
            </div>
            <div class="bottom">
              <h3>
                <a href="blog-details.html"
                  >Find Out The Top Gaming Laptops Within The Best Pricing!</a
                >
              </h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia
                recusandae praesentium dolor atque debitis aspernatur quaerat
              </p>
              <a class="blog-btn" href="blog-details.html">
                Read More
                <i class="bx bx-plus"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
