<div
  class="prd-sale cate-box bg-white p-t-15 mb24"
  style="background-color: aquamarine"
>
  <div class="sale-area">
    <div class="slider-head">
      <div class="hero-slider">
        <div class="container-fluid">
          <div
            class="single-slider"
            style="background-image: url({{url+banners}}); height: 300px; max-width: 100%;"
          >
            <div class="content">
              <div class="button">
                <a
                  href="http://localhost:4200/product-detail/2"
                  class="btn"
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br /><br />
<div class="container" >
  <!-- sản phẩm -->
  <div class="testimonials-area two pb-100">
    <div class="row">
      <div class="row">
        <div class="col-12">
          <div>
            <h2 class="title">Sản Phẩm Bán Chạy</h2>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3" *ngFor="let product of products">
          <div class="products-item">
            <div class="top">
              <a class="wishlist" href="#">
                <i class="bx bx-heart"></i>
              </a>
              <img
                [src]="url + product.image"
                alt="#"
                style="width: 170px; height: 200px"
              />
              <div class="inner">
                <h3>
                  <a href="single-product.html">{{ product.name }}</a>
                </h3>
                <span
                  class="progress"
                  style="
                    width: 130px;
                    height: 28px;
                    border-radius: 15px;
                    background-color: #ef8573;
                    text-align: center;
                    font-size: 18px;
                    line-height: 28px;
                    font-weight: 500;
                    overflow: hidden;
                    position: relative;
                    z-index: 1;
                    color: #fff;
                  "
                  >{{ product.price | number }}. VNĐ
                </span>
              </div>
            </div>
            <br />
            <div class="bottom" style="text-align: center">
              <button (click)="addToCart(product.id)" class="btn">
                Add to Cart <i class="bi bi-cart-plus"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <a class="common-btn two" href="shop.html">
        Load More Products
        <img src="assets/images/shape1.png" alt="Shape" />
        <img src="assets/images/shape2.png" alt="Shape" />
      </a>
    </div>
  </div>

  <div class="brands">
    <div class="container">
      <div class="row">
        <div class="">
          <h2 class="title">Thương Hiệu</h2>
        </div>
      </div>
      <br />
      <div class="brands-logo-wrapper">
        <div
          class="brands-logo-carousel d-flex align-items-center justify-content-between"
        >
          <div class="brand-logo" *ngFor="let brand of brands">
            <img
              [src]="url + brand.image"
              alt="#"
              style="width: 150px; height: 140px"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="products-area two pb-70">
    <div class="container">
      <div class="section-title">
        <h2>Best Selling Products</h2>
      </div>
      <div class="row">
        <div class="col-sm-6 col-lg-3">
          <div class="products-item">
            <div class="top">
              <a class="wishlist" href="#">
                <i class="bx bx-heart"></i>
              </a>
              <img
                src="assets/images/products/products22.png"
                alt="Products"
              />
              <div class="inner">
                <h3>
                  <a href="single-product.html">Bionic Thunder Headphones</a>
                </h3>
                <span>$200.00</span>
              </div>
            </div>
            <div class="bottom">
              <a class="cart-text" href="#">Add To Cart</a>
              <i class="bx bx-plus"></i>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="products-item">
            <div class="top">
              <a class="wishlist" href="#">
                <i class="bx bx-heart"></i>
              </a>
              <img
                src="assets/images/products/products23.png"
                alt="Products"
              />
              <div class="inner">
                <h3>
                  <a href="single-product.html">Xiaomi A1821 Smart Watch</a>
                </h3>
                <span>$180.00</span>
              </div>
            </div>
            <div class="bottom">
              <a class="cart-text" href="#">Add To Cart</a>
              <i class="bx bx-plus"></i>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="products-item">
            <div class="top">
              <a class="wishlist" href="#">
                <i class="bx bx-heart"></i>
              </a>
              <img
                src="assets/images/products/products24.png"
                alt="Products"
              />
              <div class="inner">
                <h3>
                  <a href="single-product.html">Nikon D5600 DSLR Camera</a>
                </h3>
                <span>$170.00</span>
              </div>
            </div>
            <div class="bottom">
              <a class="cart-text" href="#">Add To Cart</a>
              <i class="bx bx-plus"></i>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="products-item">
            <div class="top">
              <a class="wishlist" href="#">
                <i class="bx bx-heart"></i>
              </a>
              <img
                src="assets/images/products/products25.png"
                alt="Products"
              />
              <div class="inner">
                <h3>
                  <a href="single-product.html">Delux OM02 Keyboard</a>
                </h3>
                <span>$190.00</span>
              </div>
            </div>
            <div class="bottom">
              <a class="cart-text" href="#">Add To Cart</a>
              <i class="bx bx-plus"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!-- sản phẩm bán chạy -->
  <br />
  <br />
  <br />
  <!-- <section class="trending-product section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div >
                    <h2 class="title">Sản Phẩm bán chạy</h2>
                </div>
            </div>
        </div>
        <div class="row">
          <ng-container *ngFor="let product of products">
            <div class="col-lg-3 col-md-6 col-12">
  
                <div class="single-product">
                    <div class="product-image">
                        <img [src]="url+product.image" alt="#">
                        <div class="button">
                            <a href="product-details.html" class="btn"><i class="lni lni-cart"></i> Add to Cart</a>
                        </div>
                    </div>
                    <div class="product-info">
                        <span class="category">Watches</span>
                        <h4 class="title">
                            <a href="">{{ product.name }}</a>
                        </h4>
                        
                        <div class="price">
                            <span>{{ product.price | currency }}</span>
                        </div>
                    </div>
                </div>
  
            </div>
          </ng-container>
        </div>
    </div>
  </section> -->
  <div
  class="prd-sale cate-box bg-white p-t-15 mb24"
  style="background-color: aquamarine"
>
  <div class="sale-area">
    <div class="slider-head">
      <div class="hero-slider">
        <div class="container-fluid">
          <div
            class="single-slider"
            style="background-image: url({{url+banners}}); height: 100px; max-width: 100%;"
          >
            <div class="content">
              <div class="button">
                <a
                  href="http://localhost:4200/product-detail/2"
                  class="btn"
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br /><br />

  <div class="testimonials-area two pb-100">
    <div class="container">
      <div class="section-title">
        <h2>Sản phẩm</h2>
      </div>
      <div class="row">
        <div class="col-sm-6 col-lg-3" *ngFor="let product of products">
          <div class="products-item" *ngIf="product.status == 1">
            <div class="top">
              <a class="wishlist" href="#">
                <i class="bx bx-heart"></i>
              </a>
              <img
                [src]="url + product.image" [alt]="product.name"
                alt="#"
                style="width: 170px; height: 200px"
              />
              <div class="inner">
                <h3>
                  <a routerLink='/product-detail/{{product.id}}'>{{ product.name }}</a>
                </h3>
                <span
                  class="progress"
                  style="
                    width: 130px;
                    height: 28px;
                    border-radius: 15px;
                    background-color: #ef8573;
                    text-align: center;
                    font-size: 18px;
                    line-height: 28px;
                    font-weight: 500;
                    overflow: hidden;
                    position: relative;
                    z-index: 1;
                    color: #fff;
                  "
                  >{{ product.price | number }}. VNĐ
                </span>
              </div>
            </div>
            <br />
            <div class="bottom" style="text-align: center">
              <button (click)="addToCart(product.id)" class="btn">
                Add to Cart <i class="bi bi-cart-plus"></i>
              </button>
            </div>
          </div>
          <!-- <h4 class="title">
            <a routerLink='/product-detail/{{product.id}}'>{{ product.name }}</a>
          </h4> -->
        </div>
      </div>
    </div>
  </div>

  <div class="support-area pt-100 pb-70">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-6 col-lg-4">
          <div class="support-item two">
            <i class="flaticon-free-delivery"></i>
            <h3>Free Next Day Delivery</h3>
            <p>Lorem ipsum dolor sit amet, cons etetur sadipscing elitr</p>
            <img src="assets/images/support-shape1.png" alt="Shape" />
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="support-item three">
            <i class="flaticon-call-center"></i>
            <h3>24/7 Online Support</h3>
            <p>Lorem ipsum dolor sit amet, cons etetur sadipscing elitr</p>
            <img src="assets/images/support-shape1.png" alt="Shape" />
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="support-item four">
            <i class="flaticon-giftbox"></i>
            <h3>Weekly Gift Voucher</h3>
            <p>Lorem ipsum dolor sit amet, cons etetur sadipscing elitr</p>
            <img src="assets/images/support-shape1.png" alt="Shape" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="blog-area two pt-100 pb-70">
    <div class="container">
      <div class="section-title">
        <h2>Read Latest Our News</h2>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-6 col-lg-4">
          <div class="blog-item">
            <div class="top">
              <a href="blog-details.html">
                <img src="assets/images/blog/blog4.jpg" alt="Blog" />
              </a>
              <span>26 Nov</span>
            </div>
            <div class="bottom">
              <h3>
                <a href="blog-details.html"
                  >How To Choose The Best Smartphone For Your Daily Task?</a
                >
              </h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia
                recusandae praesentium dolor atque debitis aspernatur quaerat
              </p>
              <a class="blog-btn" href="blog-details.html">
                Read More
                <i class="bx bx-plus"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="blog-item">
            <div class="top">
              <a href="blog-details.html">
                <img src="assets/images/blog/blog5.jpg" alt="Blog" />
              </a>
              <span>27 Nov</span>
            </div>
            <div class="bottom">
              <h3>
                <a href="blog-details.html"
                  >How Does This VR Box Help In Children's Online Education?</a
                >
              </h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia
                recusandae praesentium dolor atque debitis aspernatur quaerat
              </p>
              <a class="blog-btn" href="blog-details.html">
                Read More
                <i class="bx bx-plus"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="blog-item">
            <div class="top">
              <a href="blog-details.html">
                <img src="assets/images/blog/blog6.jpg" alt="Blog" />
              </a>
              <span>28 Nov</span>
            </div>
            <div class="bottom">
              <h3>
                <a href="blog-details.html"
                  >Find Out The Top Gaming Laptops Within The Best Pricing!</a
                >
              </h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia
                recusandae praesentium dolor atque debitis aspernatur quaerat
              </p>
              <a class="blog-btn" href="blog-details.html">
                Read More
                <i class="bx bx-plus"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
