<br /><br />
<div class="product-details-area ptb-100">
  <div class="container">
    <div class="top">
      <div class="row align-items-center">
        <div class="col-lg-8">
          <div class="outer">
            <div class="row">
              <div class="col-sm-3 col-lg-3">
                <div class="owl-thumbs" data-slider-id="1">
                  <ng-container *ngFor="let image of images">
                    <div class="item owl-thumb-item">
                      <div class="top-img">
                        <img
                          src="http://127.0.0.1:8000/{{ image.image_products }}"
                          (click)="changeImage(image.image_products)"
                          style="width: 100px; height: 100px"
                          alt="Product"
                        />
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
              <div class="col-sm-9 col-lg-9">
                <div data-slider-id="1">
                  <div class="item">
                    <div class="top-img">
                      <img
                        src="http://127.0.0.1:8000/{{ image1 }}"
                        style="width: 300px; height: 500px"
                        alt="Product"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="top-content">
            <h2>{{ product.name }}</h2>
            <ul class="reviews">
              <li>
                <i class="bx bxs-star checked"></i>
              </li>
              <li>
                <i class="bx bxs-star checked"></i>
              </li>
              <li>
                <i class="bx bxs-star checked"></i>
              </li>
              <li>
                <i class="bx bxs-star checked"></i>
              </li>
              <li>
                <i class="bx bxs-star"></i>
              </li>
              <li>
                <span>(2 Reviews)</span>
              </li>
              <li>
                <h3>{{ product.price | number }}.VND</h3>
              </li>
            </ul>
            <ul class="cart">
              <li>
                <ul class="number">
                  <li>
                    <span class="minus">-</span>
                    <input type="text" value="1" />
                    <span class="plus">+</span>
                  </li>
                </ul>
              </li>
              <li>
                <a class="common-btn" href="#">
                  Add To Cart
                  <img src="assets/images/shape1.png" alt="Shape" />
                  <img src="assets/images/shape2.png" alt="Shape" />
                </a>
              </li>
            </ul>
            <a class="wishlist-btn" href="#">
              <i class="bx bx-heart"></i>
              Add To Heart
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom">
      <ul class="nav nav-pills" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <a
            class="nav-link active"
            id="pills-home-tab"
            data-bs-toggle="pill"
            href="#pills-home"
            role="tab"
            aria-controls="pills-home"
            aria-selected="true"
            >Description</a
          >
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link"
            id="pills-profile-tab"
            data-bs-toggle="pill"
            href="#pills-profile"
            role="tab"
            aria-controls="pills-profile"
            aria-selected="false"
            >Reviews</a
          >
        </li>
        <li class="nav-item" role="presentation"></li>
      </ul>

      <div class="tab-content" id="pills-tabContent">
        <div
          class="tab-pane fade show active"
          id="pills-home"
          role="tabpanel"
          aria-labelledby="pills-home-tab"
        >
          <div class="bottom-description">
            <div
              class="tab-pane fade show active"
              id="description"
              role="tabpanel"
              aria-labelledby="description-tab"
              [innerHTML]="product.description"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
