<br /><br />

<div class="product-details-area ptb-100">
  <div class="container">
    <div class="top">
      <div class="row align-items-center">
        <div class="col-lg-8">
          <div class="outer">
            <div class="row">
              <div class="col-sm-3 col-lg-3">
                <div class="owl-thumbs" data-slider-id="1">
                  <ng-container *ngFor="let image of images">
                    <div class="item owl-thumb-item">
                      <div class="top-img">
                        <img
                          src="http://127.0.0.1:8000/{{ image.image_products }}"
                          (click)="changeImage(image.image_products)"
                          style="width: 100px; height: 100px"
                          alt="Product"
                        />
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
              <div class="col-sm-9 col-lg-9">
                <div data-slider-id="1">
                  <div class="item">
                    <div class="top-img">
                      <img
                        src="http://127.0.0.1:8000/{{ image1 }}"
                        style="width: 400px; height: 500px"
                        alt="Product"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="top-content">
            <h2>{{ product.name }}</h2>
            <ul class="reviews">
              <li>
                <i class="bx bxs-star checked"></i>
              </li>
              <li>
                <i class="bx bxs-star checked"></i>
              </li>
              <li>
                <i class="bx bxs-star checked"></i>
              </li>
              <li>
                <i class="bx bxs-star checked"></i>
              </li>
              <li>
                <i class="bx bxs-star"></i>
              </li>
              <li>
                <span>(202 Reviews)</span>
              </li>
              <li>
                <h3>{{ product.price | number }}.VND</h3>
              </li>
            </ul>
            <ul class="tag">
              <li>
                Màu sắc:
                <span>
                  <input type="radio" id="css" name="color" value="Đen" />
                  <label for="css">Đen </label>&nbsp;
                  <input type="radio" id="css" name="color" value="Trắng" />
                  <label for="css">Trắng</label>&nbsp;
                  <input type="radio" id="css" name="color" value="Vàng" />
                  <label for="css">Vàng</label>&nbsp;
                  <input type="radio" id="css" name="color" value="xanh" />
                  <label for="css">xanh</label>&nbsp;
                </span>
              </li>
              <li>
                Số lượng: <span>{{ product.amount }}</span>
              </li>
              <li>MUA HÀNG TRẢ GÓP.</li>
              <li><span>  - Hổ trợ lãi xuất 0%</span></li>
              <li><span>  - Duyệt hồ sơ nhanh chóng: 15 phút nhận máy</span></li>
              <li><span style="color:red">- Trả góp hỗ trợ cả NỢ XẤU</span></li>
            </ul>
            <ul class="cart">
              <div class="row">
                <div class="col-6">
                  <li>
                    <button
                      type="button"
                      class="btn btn-primary"
                      data-bs-toggle="modal"
                      data-bs-target="#myModal"
                    >
                      Xem thêm <i class="bi bi-play-fill"></i>
                    </button>
                  </li>
                </div>
                <div class="col-6 " >
                    <a type="submit" style="width:176px; height:37px; text-align: center; " class="common-btn"(click)="addToCart(product.id)">
                      Thêm giỏ hàng 
                      <!-- <img src="assets/images/shape1.png" alt="Shape" />
                      <img src="assets/images/shape2.png" alt="Shape" /> -->
                    </a>
                </div>
              
              
            </div>
            </ul>

          <!-- The Modal -->
          <div class="modal" id="myModal">
            <div class="modal-dialog modal-xl">
              <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">
                    Xem thêm <i class="bi bi-play-fill"></i>
                  </h4>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                  ></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                  <div
                    class="tab-pane fade show active"
                    id="description"
                    role="tabpanel"
                    aria-labelledby="description-tab"
                    [innerHTML]="product.description"
                  ></div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-danger"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom">
    <br />
    <br />
    <div class="products-area pb-70"><br>
      <div class="container">
        <div class="section-title">
          <h2>Sản phẩm liên quan</h2>
        </div>
        <div class="row">
          <ng-container *ngFor="let trending of product_top">
            <ng-container *ngIf="trending.status">
          <div class="col-sm-6 col-lg-3">
            <div class="products-item">
              <div class="top">
                <img
                  src="http://127.0.0.1:8000/{{ trending.image }}"
                  alt="Products"
                  style="width: 160px; height: 160px"
                />
                <div class="inner">
                  <h3>
                    <a type="submit" (click)="detail(trending.id)">{{ trending.name }}</a>
                  </h3>
                  <span>{{ trending.price|number }}</span>
                </div>
              </div>
              <div class="bottom">
                <a type="submit" class="cart-text" (click)="addToCart(product.id)">Add To Cart</a>
                <i class="bx bx-plus"></i>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
